img {
    border-radius: 8px;
    width: 550px; 
    height: 350px;
}

#pdf-div {
    display: none;
}

img.comp-img {
    border-radius: 8px;
    width: 550px; 
    height: 350px;
}

body {
    background: white;
    color: rgb(42 46 51);
    font-family: 'Varela Round', sans-serif;
}

main {
    padding: 2rem;
}

.form-inline {
    display: inline-block;
}

.fa {
    padding-left: 0em 1em;
}

.nav > * {
    padding-inline-start: 2 em 0;
}
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    background: #fd7e14;
    padding: .5em 1.5em;
    border-radius: 0;
    border: none;
}
.navbar img {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    box-align: center;
}
.navbar .navbar-brand {
    color: #efe5ff;
    padding-left: 0;
    padding-right: 1em;
    font-size: 1.5em;	
}
.navbar-right {	
    float: right;
    display: flex;
    justify-content: flex-end;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #fff;
}
.navbar .navbar-brand i {
    font-size: 1.5em;
    margin-right: .5em;
}
.search-box {
    position: relative;
}	
.search-box input {
    padding-right: 2em;
    min-height: 2.5em;
    border: none;
    background: #faf7fd;
    border-radius: 3px !important;
}
.search-box input:focus {		
    background: #fff;
    box-shadow: none;
}
.input-group-btn {
    padding-right: 1em;
}
.btn-default {
    background-color: rgb(250, 247, 253);
    line-height: 1.5em;
}

.search-box .input-group-addon {
    min-width: 5em;
    max-width: 30vp;;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: .5em 1em;
    height: 40%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 1.2em;
}
.search-options {
    padding: 2em;
}
.search-options > * {
    list-style: none;
    margin: 0em;
}

.navbar .navbar-right .dropdown-menu {
    width: 5em;
    padding: 2em;
    left: auto;
    right: 0;
    font-size: 1.5em;
}

.navbar .dropdown-menu .material-icons {
    font-size: 1.2em;
    line-height: 1.2em;
    vertical-align: middle;
    margin-top: -2px;
    padding: .5 em;
}
.navbar .dropdown.open > a, .navbar .dropdown.open > a:hover, .navbar .dropdown.open > a:focus {
    color: #fff;
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
    left: auto;
    right: 0;
}
.navbar .dropdown-menu li a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus {
    color: #333 !important;
    background: transparent !important;
}
.navbar .dropdown-toggle {
    color: rgb(239 229 255);
    float: right;
    height: 50px;
    padding: 1em 1em;
    line-height: 1.5em;
    font-size: 1.5em;
    box-sizing: border-box;
}
.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
    background: transparent !important;
}
.navbar .nav .user-action {
    padding: 9px 15px;
}
.navbar .navbar-toggle {
    border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .divider {
    background-color: #e9ecef !important;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .navbar .nav > li > a > i {
        display: inline-block;			
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }
    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .navbar .navbar-form {
        border: none;			
        display: block;
        margin: 10px 0;
        padding: 0;
    }
    .navbar .navbar-nav {
        margin: 8px 0;
    }
    .navbar .navbar-toggle {
        margin-right: 0;
    }
    .input-group {
        width: 100%;
    }
}

.form-inline.login-form{
    display: flex;
    padding-right: .5em;
}
.form-inline.login-form > * {
    display: flex;
}

.input-group-addon {
    padding-right: 1.5em;
}

.fa {
    padding-left: .5em;
    text-align: center;
}