<!DOCTYPE HTML>
<title></title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel=stylesheet href=demo.css >

<body>
<header>
    <nav><h1>NAV BAR</h1></nav>
</header>

<main>

    <div id=landing-search-div>
        <h2>Explore Lessons!</h2>
        <form id=landing-searchbar></form>
    </div>

    <section className=lesson-samples>
        <article class="lesson-card brief">
            <h3><a href=/lessons/1> Wolves </a> </h3> 
            <a class="lesson-banner" href=/lessons/1><img src="https://img.youtube.com/vi/ysa5OBhXz-Q/0.jpg"/></a>
            <p>Grades: 4th, 5th, 6th</p>
            <p class="subjects">Subjects: Science, Writing, Comprehension</p>
            <button class="favorite-pin">♡</button>
        </article>
        <article class="lesson-card brief">
            <h3><a href=/lessons/2> Multiplying Fractions </a> </h3> 
            <a class="lesson-banner" href=/lessons/2><img src="https://img.youtube.com/vi/CcDGRLosAf0/0.jpg"/></a>
            <p>Grades: 4th, 5th, 6th</p>
            <p class="subjects">Subjects: Math </p>
            <button class="favorite-pin">♡</button>
        </article>
        <article class="lesson-card brief">
            <h3><a href=/lessons/3> Superconducting Magnetic Levitation </a> </h3> 
            <a class="lesson-banner" href=/lessons/3><img src="https://img.youtube.com/vi/X5EoUD-BIss/0.jpg"/></a>
            <p>Grades: 4th, 5th, 6th</p>
            <p class="subjects">Subjects: Math, Comprehension</p>
            <button class="favorite-pin">♡</button>
        </article>
        <article class="lesson-card brief">
            <h3><a href=/lessons/1> Wolves </a> </h3> 
            <a class="lesson-banner" href=/lessons/1><img src="https://img.youtube.com/vi/ysa5OBhXz-Q/0.jpg"/></a>
            <p>Grades: 4th, 5th, 6th</p>
            <p class="subjects">Subjects: Science, Writing, Comprehension</p>
            <button class="favorite-pin">♡</button>
        </article>
        <article class="lesson-card brief">
            <h3><a href=/lessons/2> Multiplying Fractions </a> </h3> 
            <a class="lesson-banner" href=/lessons/2><img src="https://img.youtube.com/vi/CcDGRLosAf0/0.jpg"/></a>
            <p>Grades: 4th, 5th, 6th</p>
            <p class="subjects">Subjects: Math </p>
            <button class="favorite-pin">♡</button>
        </article>
        <article class="lesson-card brief">
            <h3><a href=/lessons/3> Superconducting Magnetic Levitation </a> </h3> 
            <a class="lesson-banner" href=/lessons/3><img src="https://img.youtube.com/vi/X5EoUD-BIss/0.jpg"/></a>
            <p>Grades: 4th, 5th, 6th</p>
            <p class="subjects">Subjects: Math, Comprehension</p>
            <button class="favorite-pin">♡</button>
        </article>
        
        
              
    </section>

    <section id=signup-greeting>
        <h2>Sign up to create or save your next lesson!</h2>
        <form id=signup>
            <h2>Welcome to DESK!</h2>
            <input id=email placeholder='Email'>
            <input id=handle placeholder='Username'>
            <input id=password placeholder='Password' type=password>
            <p id=welcome-footnote>Already a user?</p>
            <button type=button id=signin-btn>Sign In</button>
            <button type=button id=signup-btn>Sign Up</button>
        </form>
    </section>



</main>

</body>