{% extends 'base.html' %}
{% block title %}All Lessons{% endblock %}

{% block js %}	
	<script src="/static/js/searchbar.jsx" type="text/jsx"></script>
	<script src="/static/js/login.jsx" type="text/jsx"></script>
	<script src="/static/js/signup.jsx" type="text/jsx"></script>
	<script src="/static/js/lesson.jsx" type="text/jsx"></script>
	<script src="/static/js/home.jsx" type="text/jsx"></script>
	<script src="/static/js/profile.jsx" type="text/jsx"></script>
	<script src="/static/js/nav.jsx" type="text/jsx"></script>
	<script src="/static/js/directory.jsx" type="text/jsx"></script>
	<script src="/static/js/login.jsx" type="text/jsx"></script>
	<script src="/static/js/single_lesson.jsx" type="text/jsx"></script>
	<script src="/static/js/create_lesson.jsx" type="text/jsx"></script>	
	<script src="/static/js/component.jsx" type="text/jsx"></script>
	<script src="/static/js/edit_lesson.jsx" type="text/jsx"></script>
	<script src="/static/js/profile.jsx" type="text/jsx"></script>
	<script src="/static/js/search.jsx" type="text/jsx"></script>
	<script src="/static/js/root.jsx" type="text/jsx"></script>
{% endblock %}

{% block body %}
<div id="login_state" data-loggedin="{{ isLoggedIn }}"></div>
<div id="root">Loading...</div>

{% endblock %}
