{% extends 'base.html' %}
{% block title %}All Lessons{% endblock %}

{% block js %}
	<script src="/static/js/nav.jsx" type="text/jsx"></script>
	<script src="/static/js/signup.jsx" type="text/jsx"></script>
	<script src="/static/js/userLogin.jsx" type="text/jsx"></script>
	<script src="/static/js/user_lesson_list.jsx" type="text/jsx"></script>
	<script src="/static/js/profile.jsx" type="text/jsx"></script>
	<script src="/static/js/display_lesson.jsx" type="text/jsx"></script>
	<script src="/static/js/root.jsx" type="text/jsx"></script>
{% endblock %}

{% block body %}
<div id="login_state" data-loggedin="{{ isLoggedIn }}"></div>
<div id="task">Loading...</div>

{% endblock %}
